[submodule "microservices/order-service"]
	path = microservices/order-service
	url = https://github.com/rhafaelcosta/commerce-order-service.git
[submodule "docs"]
	path = docs
	url = https://github.com/rhafaelcosta/commerce-docs.git
[submodule "microservices/billing-service"]
	path = microservices/billing-service
	url = https://github.com/rhafaelcosta/commerce-billing-service.git
